<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{desc}}">
        <meta name="keywords" content="MoldyMacaroniX,CreatorMoldy">
        <title>{{title}} | MoldyMacaroniX</title>
        <link rel="stylesheet" href="/assets/index.css">
        <link rel="icon" href="/assets/images/icon.png">

        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>

        <div class="scrollTop" id="scrollTop"><a class="fa fa-chevron-up fa-3x" onclick="up()"></a></div>

        <div class="mobilenav" id="mobile">
            <i class="fa fa-times fa-2x" tabindex=0 onclick="closeMobile()"></i>
            <p>
                <a href="/"><i class="fa fa-home fa-xs"></i> Home</a><br>
                <a href="/about/"><i class="fa fa-info-circle fa-xs"></i> About</a><br>
                <a href="/videos/"><i class="fa fa-play fa-xs"></i> Videos</a><br>
                <a href="/community/"><i class="fa fa-envelope fa-xs"></i> Community</a>
            </p>
        </div>

        <div class="coverscreen" id="cover"></div>

        <nav>
            <ul class="nav">
                <li><a href="/"><i class="fa fa-home fa-xs"></i> Home</a></li>
                <li><a href="/about/"><i class="fa fa-info-circle fa-xs"></i> About</a></li>
                <li><a href="/videos/"><i class="fa fa-play fa-xs"></i> Videos</a></li>
                <li><a href="/community/"><i class="fa fa-envelope fa-xs"></i> Community</a></li>
            </ul>
            <ul class="socials">
                <li><a class="fab fa-youtube" href="https://www.youtube.com/moldymacaronix"></a></li>
                <li><a class="fab fa-twitter" href="https://twitter.com/moldymacaronix"></a></li>
                <li><a class="fab fa-discord" href="https://discord.gg/PqTUgx6"></a></li>
            </ul>
            <ul class="mobile">
                <li><a href="/"><img src="/assets/images/icon.png" alt="logo"></a></li>
            </ul>
            <ul class="mobile">
                <li><i class="fa fa-bars fa-2x" style="margin-right: 15px; cursor: pointer;" tabindex=0 onclick="openMobile()"></i></li>
            </ul>
        </nav>

        <div class="container main">

            {{content | safe}}

        </div>

        <footer>
            <div class="footcontent">

                <div>
                    <h1>MoldyMacaroniX</h1>
                    <p>
                        Copyright © 2020-2021 MoldyMacaroniX
                    </p>
                    <p>
                        <a class="fab fa-youtube" href="https://www.youtube.com/moldymacaronix"></a> <a class="fab fa-twitter" href="https://twitter.com/moldymacaronix"></a> <a class="fab fa-discord" href="https://discord.gg/PqTUgx6"></a>
                    </p>
                </div>

                <div>
                    <h1>Main</h1>
                    <p>
                        <a class="link" href="/">Home</a><br>
                        <a class="link" href="/about/">About</a><br>
                        <a class="link" href="/videos/">Videos</a><br>
                        <a class="link" href="/community/">Community</a>
                    </p>
                </div>

                <div>
                    <h1>Extra</h1>
                    <p>
                        <a class="link" href="/changelog/">Changelog</a><br>
                        <a class="link" href="/server/">Discord Server Rules</a><br>
                        <a class="link" href="/tools/">Web Tools</a>
                    </p>
                </div>

            </div>
        </footer>

        <script src="/assets/index.js"></script>

    </body>
</html>