---
layout: default.njk
---

{{ content | safe }}

<div class="gap"></div>

<div class="signoff">
    <div class="signoff-img">
        <img alt="profile picture" src="/assets/images/PFP.png">
    </div>
    <div class="signoff-content">
        <span class="signoff-content-name">Moldy<wbr>Macaroni<wbr>X</span>
        <span class="signoff-content-desc">
            I am MoldyMacaroniX, but you can call me Moldy.<br>
            <a href="https://www.youtube.com/moldymacaronix">YouTube</a> <a href="https://twitter.com/moldymacaronix">Twitter</a> <a href="https://discord.gg/PqTUgx6">Discord</a>
        </span>
    </div>
</div>